body {
    background-color: lavender;
}

h1 {
    color: rgb(103, 33, 103);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    text-align: center;
}

h2 {
    color:rgb(154, 78, 154);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

h3 {
    color: rgb(211, 150, 242);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#basicIdeas {
    box-sizing: border-box;
    display: table-cell;
    width: 50%;
    float: left;
    text-align: center;
}

#userIdeas {
    box-sizing: border-box;
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    float: left;
    text-align: center;
}

#personalIdeas {
    box-shadow: 0 5px 10px rgb(140, 139, 140);
    padding: 1em 10px 20px 1.5em;
    display: inline-block;
    margin-top: 0em;
    box-sizing: border-box;
    line-height: 46.5px;
    text-size-adjust: 100%;
}


.combinedList {
    text-align: center;
    margin-top: 300px;
}

ul {
    list-style: none;
}